<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-brand">
                <h2 class="footer-logo">DONGDONG STUDIO</h2>
                <p class="footer-tagline">WE FIND THE NEXT STAR.</p>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/p/DF3Q7FuzK5F/" target="_blank" class="instagram-link"><i
                        data-lucide="instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-legal">
                <p>&copy; 2026 랜딩랩. ALL RIGHTS RESERVED.</p>
            </div>
            <div class="footer-business-info">
                <p>법인명: (주)동동에프엔비 | 대표자: 김현수 | 사업자 번호: 819-86-03481</p>
                <p>이메일: dongdongfnb@naver.com</p>
            </div>
        </div>
    </div>
</footer>