<header class="header">
    <div class="container">
        <a href="/" class="logo">DONGDONG STUDIO<span>®</span></a>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="/about" class="nav-link">ABOUT</a></li>
                <li><a href="/creators" class="nav-link">CREATORS</a></li>
                <li><a href="/contact" class="nav-link">CONTACT</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <i data-lucide="menu"></i>
        </div>
    </div>
</header>